:host {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto min-content min-content;
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  padding-inline: 0;
}

.actions-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: hidden;
  padding: 5px 10px 2px;

  moz-button {
    &::part(button) {
      padding: 10px;
    }

    &::part(moz-button-label) {
      display: none;
    }
  }

  &.overflow-button {
    display: none;
  }
}
